{% extends 'base.html' %}
{% block content %}
<head>
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=0771ef576c9d13b959c1b9f1347f44991">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
</head>
<body>
<script>
        $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
    <form method="POST">
        <label for="symbol">Stock symbol:</label>
        <input type="text" id="symbol" name="symbol"><br>

        <label for="tracking_price">Tracking price:</label>
        <input type="number" id="tracking_price" name="tracking_price"><br>

        <label for="num_shares"># of shares:</label>
        <input type="number" id="num_shares" name="num_shares"><br>

        <input type="submit" value="Add stock">
    </form>

<div style="width: 100%;">
    <table id="example" class="table table-striped" style="width:90%">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Date added</th>
                <th>Tracking price</th>
                <th># of shares</th>
                <th>Current price</th>
                <th>% change</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock['symbol'] }}</td>
                <td>{{ stock['date_added'] }}</td>
                <td>{{ stock['tracking_price'] }}</td>
                <td>{{ stock['shares'] }}</td>
                <td>{{ stock['current_price'] }}</td>
                <td>{{ stock['percent_change'] }}</td>
                <td>
                    <form method="POST" action="{{ url_for('tracker.delete', id=stock.id) }}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
{% endblock %}