<html>
  <head>
    <title>Stock Page</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <form method="POST">
      <label for="stock_symbol">Stock Symbol:</label>
      <input type="text" name="stock_symbol" id="stock_symbol" required>
      <input type="submit" value="submit">
    </form>
    {% if stock_news %}
    <table class="table caption-top">
      <h1>{{basic_info['CompanyName']}}</h1>
      <tbody>
        <tr>
          <th scope="row">Stock Symbol</th>
          <td>{{basic_info['StockSymbol']}}</td>
          <th scope="row">Company Name</td>
          <td>{{basic_info['CompanyName']}}</td>
        </tr>
        <tr>
          <th scope="row">Sector</th>
          <td>{{basic_info['Sector']}}</td>
          <th scope="row">Industry</th>
          <td>{{basic_info['Industry']}}</td>
        </tr>
        <tr>
          <th scope="row">MarketCap</th>
          <td>{{basic_info['MarketCap']}}</td>
          <th scope="row">Exchange</th>
          <td>{{basic_info['Exchange']}}</td>
        </tr>
        <tr>
          <th scope="row">PE</th>
          <td>{{basic_info['PE']}}</td>
          <th scope="row">EPS</th>
          <td>{{basic_info['EPS']}}</td>
        </tr>
        <tr>
          <th scope="row">DividendPerShare</th>
          <td>{{basic_info['DividendPerShare']}}</td>
          <th scope="row">DividendYield</th>
          <td>{{basic_info['DividendYield']}}</td>
        </tr>
        <tr>
          <th scope="row">52weekhigh</th>
          <td>{{basic_info['52weekhigh']}}</td>
          <th scope="row">52weeklow</th>
          <td>{{basic_info['52weeklow']}}</td>
        </tr>
        <tr>
          <th scope="row">Current Prices</th>
          <td>{{basic_info['current_prices']}}</td>
          <th scope="row">open</th>
          <td>{{basic_info['open']}}</td>
        </tr>
        <tr>
          <th scope="row">Volume</th>
          <td>{{basic_info['volume']}}</td>
          <th scope="row">Previous Close</th>
          <td>{{basic_info['prev_close']}}</td>
        </tr>
      </tbody>
    </table>
    
    <table class="table caption-top">
      <h2>Recent News</h2>
      <thead>
        <th scope="row"> News Title</th>
        <th scope="row"> News Summary</th>
      </thead>
      <tbody>
        <tr>
          <td><a href="{{stock_news[0]['url']}}">{{stock_news[0]['title']}}</a></td>
          <td>{{stock_news[0]['summary']}}</td>
        </tr>
        <tr>
          <td><a href="{{stock_news[1]['url']}}">{{stock_news[1]['title']}}</a></td>
          <td>{{stock_news[1]['summary']}}</td>
        </tr>
        <tr>
          <td><a href="{{stock_news[2]['url']}}">{{stock_news[2]['title']}}</a></td>
          <td>{{stock_news[2]['summary']}}</td>
        </tr>
        <tr>
          <td><a href="{{stock_news[3]['url']}}">{{stock_news[3]['title']}}</a></td>
          <td>{{stock_news[3]['summary']}}</td>
        </tr>
        <tr>
          <td><a href="{{stock_news[4]['url']}}">{{stock_news[4]['title']}}</a></td>
          <td>{{stock_news[4]['summary']}}</td>
        </tr>
      </tbody>
    </table>
    <div id="plot"></div>
    <script>
      var data = [{x: {{stock_ts['X']|tojson }}, y: {{ stock_ts['Y']|tojson }},
        type: 'scatter'
      }];
      var layout = {
        title: 'Closing Price'
      };
      Plotly.newPlot('plot', data, layout);
    </script>
    {% else %}
    {% endif %}
  </body>
</html>